#beef {
  margin-left: 200px;
  width: 200px;
  border: 1px solid;
  word-wrap: break-word;
}

#chicken {
  margin-left: 200px;
  width: 200px;
  border: 1px solid;
  word-wrap: break-word;
}

#pork {
  margin-left: 200px;
  width: 200px;
  border: 1px solid;
  word-wrap: break-word;
}
